body {
	font-family: sans-serif;
}

.youtubeContainer {
	overflow: hidden;
	width: 50%;
	/* Keep it the right aspect-ratio */
	aspect-ratio: 16/9;
	/* No clicking/hover effects */
	pointer-events: none;
}

iframe {
    /* Extend it beyond the viewport... */
    width: 300%;
    height: 100%;
    /* ...and bring it back again */
    margin-left: -100%;
}

.progressArea {
    float: right;
    margin-top: 12px;
}

#videoSkeleton {
    position: inherit;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    animation: skeletonAnimation 1.5s ease-in-out 0.5s infinite;
}

.gameControls {
	margin-top: 3%;
	width: 50%;
    text-align: start;
}

@keyframes skeletonAnimation {
	0% {
		background: #1c1c1c;
	}
	50% {
		background: #505050;
	}
	100% {
		background: #1c1c1c;
	}
}

.progressDot {
	height: 25px;
	width: 25px;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	margin-left: 5px;
  }
  
  .DotWon {
	background-color: #28d811;
  }
  
  .DotLost {
	background-color: #da1313;
  }

